@font-face {
  font-family: 'Epilogue';
  src: url('./fonts/Epilogue-Regular.ttf') format('truetype');
}
* {
  margin:0 auto;
  max-width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Epilogue-text{
  font-family: 'Epilogue';
  font-size: 2.5rem;
  opacity: 50%;
  object-fit: contain;
}
.ctaSection{
  background:url('./assets/controls.png'), #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -10px;
  background-position-x: 20px;
  transition-duration: 1s;
}
.adsbygoogle{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.ads{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
 img {
  width:200px;
  object-fit:cover;
 }
 .logoSection{
  transition-duration: 1s;
 }